html, body{
	margin: 0px;
	font-family: 'Lato', sans-serif;
}
a,a:visited{
	color: inherit !important;
	text-decoration: none;
}
#logo{
	font-size: 1.2em;
}
.no-margin{
	margin: 0px;
}
.be-red{
	background-color: #E74C3C;
}
.white{
	color: #ECF6F1;
}
.large-padding{
	padding: 8px 5px ;
}
.no-list{
list-style-type: none;	
}
