<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">
    	<h1>Bienvenido a la implementacion del modelo de calidad de CMMI-DEV NIVEL 3</h1>
		<p>tesis de grado</p>
   </div>    
  </div>
</div>